a{
    text-decoration: none;
}

.navbar-right{
    position: relative;
    margin-left: 700px;
}

img{
    border-radius: 50%;
}

.btn_class{
    margin-left:40px;
    border: none;
    outline: none;
    margin-top: -80px;
}

.btn_reply{
   
    border: none;
    outline: none;
   display: inline-block;
}